{% render 'partials/head.liquid' %}

<main>
  <section>
    <h2>Kies het team</h2>

    <a href="/teams/Blaze">Team Blaze</a>
    <a href="/teams/rocket">Team Rocket</a>
    <a href="teams/Flux">Team Flux</a>
    <a href="teams/chill">Team Chill</a>
    <a href="teams/hype">Team Hype</a>
    <a href="teams/zen">Team Zen</a>
    <a href="teams/cool">Team Cool</a>
    <a href="teams/rad">Team Rad</a>
    <a href="teams/epic">Team Epic</a>
    <a href="teams/awesome">Team Awesome</a>
    <a href="teams/spirit">Team Spirit</a>
    <a href="teams/storm">Team Storm</a>
  </section>

  <section>
    <h3>Kies de Squad</h3>

    <a href="squad_1_g">Squad 1G</a>
  </section>
</main>

<h4>Students</h4>
<ul>
  {% for person in persons %}
    <li><img src="https://github.com/{{ person.github_handle }}.png"><a href="/detail/{{ person.id }}">{{ person.name }} {{ person.team }} </a></li>
  {% endfor %}
</ul>

{% render 'partials/foot.liquid', squads: squads %}