{% render 'partials/head.liquid' %}

<main>
  <section>
    <h2>Kies het team</h2>
  </section>

  <section>
    <a href="team_blaze">Team Blaze</a>
  </section>
</main>

<h4>Students</h4>
<ul>
  {% for person in persons %}
    <li><img src="{{ person.avatar }}"><a href="/detail/{{ person.id }}">{{ person.name }}</a></li>
  {% endfor %}
</ul>

{% render 'partials/foot.liquid', squads: squads %}