{% render 'partials/head.liquid' %}

<main>
  <section>
    <h2>Kies het team</h2>

    <a href="teams/Flux">Team Flux</a>
  </section>

  <section>
    <h3>Kies de Squad</h3>

    <a href="squad_1_g">Squad 1G</a>
  </section>
</main>

<h4>Students</h4>
<ul>
  {% for person in persons %}
    <li><img src="https://github.com/{{ person.github_handle }}.png"><a href="/detail/{{ person.id }}">{{ person.name }} {{ person.team }} </a></li>
  {% endfor %}
</ul>

{% render 'partials/foot.liquid', squads: squads %}