{% render 'partials/head.liquid' %}

<main>
  <section>
    <h2>Kies het team</h2>

    <a href="teams/Blaze">Team Blaze</a>
    <a href="teams/Rocket">Team Rocket</a>
    <a href="teams/Flux">Team Flux</a>
    <a href="teams/Chill">Team Chill</a>
    <a href="teams/Hype">Team Hype</a>
    <a href="teams/Zen">Team Zen</a>
    <a href="teams/Cool">Team Cool</a>
    <a href="teams/Rad">Team Rad</a>
    <a href="teams/Epic">Team Epic</a>
    <a href="teams/Awesome">Team Awesome</a>
    <a href="teams/Spirit">Team Spirit</a>
    <a href="teams/Storm">Team Storm</a>
  </section>

  <section>
    <h3>Kies de Squad</h3>

    <a href="squad_1_g">Squad 1G</a>
  </section>
</main>

<h4>Students</h4>
<ul>
  {% for person in persons %}
    <li><img src="https://github.com/{{ person.github_handle }}.png"><a href="/detail/{{ person.id }}">{{ person.name }} {{ person.team }} </a></li>
  {% endfor %}
</ul>

{% render 'partials/foot.liquid', squads: squads %}